.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #334257;
}
p {
  color: white;
  padding: 100px;
  text-align: center;
  font-size: larger;
}
